<a href="https://colab.research.google.com/github/mjacoba/Covid-19-Hawaii/blob/master/Covid_19_Hawaii.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data for Covid-19-Hawaii Cases by Mel

**Covid-19 Analysis - April 30, 2020**

Source: The original code for the national data is from Noah Gift's book on Minimal Python. Github Source - https://github.com/debasisb/minimal-python/blob/master/Chapter7_data_science.ipynb

**Overall Cases and Deaths in Hawaii (Statewide)**

In [248]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
Hawaii_df = df[df["state"] == "Hawaii"].drop(columns="fips").drop(columns="state")
Hawaii_df.tail(20)

            date  cases  deaths
2281  2020-04-13    502       9
2336  2020-04-14    511       9
2391  2020-04-15    524       9
2446  2020-04-16    535       9
2501  2020-04-17    547       9
2556  2020-04-18    568       9
2611  2020-04-19    574      10
2666  2020-04-20    578      10
2721  2020-04-21    580      12
2776  2020-04-22    586      12
2831  2020-04-23    590      12
2886  2020-04-24    595      13
2941  2020-04-25    597      14
2996  2020-04-26    599      14
3051  2020-04-27    600      16
3106  2020-04-28    602      16
3161  2020-04-29    605      16
3216  2020-04-30    609      16
3271  2020-05-01    610      16
3326  2020-05-02    611      16

**Overall Cases and Deaths in Hawaii (by County)**

In [249]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv")
Counties_df = df[df["state"] == "Hawaii"].drop(columns="fips").drop(columns="state")
Counties_df.tail(16)

              date    county  cases  deaths
98780   2020-04-29    Hawaii     70       0
98781   2020-04-29  Honolulu    399      11
98782   2020-04-29     Kauai     21       0
98783   2020-04-29      Maui    115       5
101628  2020-04-30    Hawaii     73       0
101629  2020-04-30  Honolulu    399      11
101630  2020-04-30     Kauai     21       0
101631  2020-04-30      Maui    116       5
104482  2020-05-01    Hawaii     73       0
104483  2020-05-01  Honolulu    400      11
104484  2020-05-01     Kauai     21       0
104485  2020-05-01      Maui    116       5
107348  2020-05-02    Hawaii     73       0
107349  2020-05-02  Honolulu    400      11
107350  2020-05-02     Kauai     21       0
107351  2020-05-02      Maui    117       5

**Big Island Cases and Deaths**

In [250]:
Hawaii_County_df = Counties_df[df["county"]== "Hawaii"]
Hawaii_County_df.tail(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

              date  county  cases  deaths
95939   2020-04-28  Hawaii     70       0
98780   2020-04-29  Hawaii     70       0
101628  2020-04-30  Hawaii     73       0
104482  2020-05-01  Hawaii     73       0
107348  2020-05-02  Hawaii     73       0

**Oahu Cases and Deaths**

In [251]:
Honolulu_County_df = Counties_df[df["county"]== "Honolulu"]
Honolulu_County_df.tail(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

              date    county  cases  deaths
95940   2020-04-28  Honolulu    396      11
98781   2020-04-29  Honolulu    399      11
101629  2020-04-30  Honolulu    399      11
104483  2020-05-01  Honolulu    400      11
107349  2020-05-02  Honolulu    400      11

**Kauai Cases and Deaths**

In [252]:
Kauai_County_df = Counties_df[df["county"]== "Kauai"]
Kauai_County_df.tail(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

              date county  cases  deaths
95941   2020-04-28  Kauai     21       0
98782   2020-04-29  Kauai     21       0
101630  2020-04-30  Kauai     21       0
104484  2020-05-01  Kauai     21       0
107350  2020-05-02  Kauai     21       0

**Maui Cases and Deaths**

In [253]:
Maui_County_df = Counties_df[df["county"]== "Maui"]
Maui_County_df.tail(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

              date county  cases  deaths
95942   2020-04-28   Maui    115       5
98783   2020-04-29   Maui    115       5
101631  2020-04-30   Maui    116       5
104485  2020-05-01   Maui    116       5
107351  2020-05-02   Maui    117       5